<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<!-- Упростим сообщения об ошибках и успешной смене пароля -->
<p th:if="${error}" style="color: red;" th:text="${error}"></p>
<p th:if="${success}" style="color: green;" th:text="${success}"></p>

<form action="#" th:action="@{/account/change-password}" th:object="${passwordChangeForm}" method="post">
    <p><input type="password" id="currentPassword" th:field="*{currentPassword}" placeholder="Current Password" required></p>
    <p>
        <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="New Password" required>
        <input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" placeholder="Confirm New Password" required>
    </p>
    <p><button type="submit">Change Password</button></p>
</form>
</body>
</html>