<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{changePassword}" />
</head>
<body>
<h1 th:text="#{changePassword}" />
<form action="#" th:action="@{/account/change-password}" th:object="${passwordChangeForm}" method="post">
    <p th:if="${error}" style="color: red;" th:text="${error}"></p>
    <p th:if="${success}" style="color: green;" th:text="${success}"></p>
    <p th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" style="color: red;"></p>

    <p><input type="password" id="currentPassword" th:field="*{currentPassword}" th:placeholder="#{currentPassword}" required></p>
    <p>
        <input type="password" id="newPassword" th:field="*{newPassword}" th:placeholder="#{newPassword}" required>
        <input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" th:placeholder="#{confirmNewPassword}" required>
    </p>
    <p><button type="submit" th:text="#{changePassword}" /></p>
</form>
</body>
</html>