<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{passwordRecovery}" />
</head>
<body>
<h1 th:text="#{passwordRecovery}" />
<form th:action="@{/forgot-password}" method="post">
    <p th:if="${message}" th:text="${message}" style="color: green;"></p>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <input type="email" name="email" th:placeholder="#{enterYourEmail}" required/>
    <button type="submit" th:text="#{send}" />
</form>
</body>
</html>