<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login}" />
</head>
<body>
<h1 th:text="#{login}" />

<p th:if="${confirmationMessage}" th:text="${confirmationMessage}" style="color: green;"></p>
<p th:if="${registrationSuccess}" th:text="${registrationSuccess}" style="color: green;"></p>
<p th:if="${loginError}" th:text="${loginError}" style="color: red;"></p>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form th:action="@{/login}" method="post">
    <input type="email" name="username" placeholder="Email" required/>
    <input type="password" name="password" th:placeholder="#{password}" required/>
    <button type="submit" th:text="#{login}" />
</form>

<p><span th:text="#{orLoginWithGoogleFacebook}" />
    <a th:href="@{/oauth2/authorization/google}">Google</a> |
    <a th:href="@{/oauth2/authorization/facebook}">Facebook</a>
</p>
<p><a th:href="@{/forgot-password}" th:text="#{passwordForgot}" /></p>

</body>
</html>