<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Логин</title>
</head>
<body>
<h1>Логин</h1>
<form th:action="@{/login}" method="post">
    <input type="email" name="username" placeholder="Email" required/>
    <input type="password" name="password" placeholder="Пароль" required/>
    <button type="submit">Войти</button>
    <p th:if="${confirmationMessage}" th:text="${confirmationMessage}" style="color: green;"></p>
    <p th:if="${registrationSuccess}" th:text="${registrationSuccess}" style="color: green;"></p>
    <p th:if="${loginError}" th:text="${loginError}" style="color: red;"></p>
</form>

<p><a th:href="@{/forgot-password}">Забыли пароль?</a></p>

</body>
</html>