<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{passwordReset}" />
</head>
<body>
<h1 th:text="#{passwordReset}" />
<form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></p>

    <input type="hidden" name="token" th:value="${token}"/>
    <input type="password" th:field="*{password}" th:placeholder="#{enterNewPassword}" required/>
    <input type="password" th:field="*{confirmPassword}" th:placeholder="#{confirmNewPassword}" required/>
    <button type="submit" th:text="#{passwordReset}" />
</form>
</body>
</html>