<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сброс пароля</title>
</head>
<body>
<h1>Сброс пароля</h1>
<form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></p>

    <input type="hidden" name="token" th:value="${token}"/>
    <input type="password" th:field="*{password}" placeholder="Введите новый пароль" required/>
    <input type="password" th:field="*{confirmPassword}" placeholder="Подтвердите новый пароль" required/>
    <button type="submit">Сбросить пароль</button>
</form>
</body>
</html>